  <div class="container">
    <nav id="footer-nav">
    <div class="column">
      <h2>Visit us</h2>
      <p>{{ site.address | escape }}</p>
    </div>
    <div class="column">
      <h2>Contact us</h2>
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </div>
    <div class="column">
      <h2>Follow Us</h2>
      <a href="https://instagram.com/{{ site.instagram_username | escape }}">Instagram</a>
      <a href="https://instagram.com/{{ site.facebook_username | escape }}">Facebook</a>
    </div>
    <div class="column">
      <h2>Careers</h2>
      {% for career in site.careers %}
        <a class="position" href="{{ career.url | relative_url }}">
        {{ career.title | escape }}
        </a>
      {% endfor %}
    </div>
    </nav>
  </div>
